* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}


body {
    background-color: rgba(0, 0, 0, 0.932);
    min-width: 100%;
    height: 100%;
    

}

img {
    width: 450px;
    display: flex;
    margin: 100px auto 0;
}

h1 {
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 25px;
}

main {
    position: absolute;
    left: 32%;
}


input {
    width: 342px;
    height: 74px;
    padding: 13px 233px 13px 16px;
    border-radius: 14px;
    border: 1px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 30px;
    /* margin-left: 20px; */
    padding-right: 0;


}

input:nth-child(3) {
    margin-left: 30px;
}

input::placeholder {
    font-size: 40px;
    font-weight: 500;
    position: relative;
    top: 5px;
    color: rgba(255, 255, 255, 0.699);

}

.result {
    display: flex;
    margin: 20px auto;
    background-color: white;
    display: none;

}


.result::placeholder {
    color: black;
}

button {
    display: flex;
    margin: 30px auto;
    width: 342px;
    height: 72px;
    border-radius: 10px;
    background: rgba(174, 195, 70, 1);
    font-size: 36px;
    font-weight: 700;
    padding: 10px 0 0 14.9%;
    cursor: pointer;
    color: white;
    box-shadow: 1px 4px 20px rgba(174, 195, 70, 1);

}

button:hover {
    opacity: .7;
}

@media screen and (max-width: 900px) {
    * {
        margin: 0;
        padding: 0;
    }

    body{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    img {
        width: 377px;
        margin: 0;
        margin-left: 8px;
    }

    input {
        width: 170px;
        margin-left: 8px;
        padding-top: 0;

    }

    .result {
        width: 210px;
        position: relative;
        right: 5px;

    }

    main {
        position: relative;
        left: 0;

    }

    button {
        width: 210px;
        position: relative;
        right: 5px;
        padding-left: 40px;
    }

    h1 {
        text-align: center;
    }

    .result::placeholder {
        font-size: 25px;
    }
}
@media screen and (max-width: 1400px){
   main{
    position: absolute;
    left: 0;
    right: 0;
   }

   input{
    position: relative;
    left: 155px;

   }
   button{
    padding-left:10% ;
   }

   .result{
    margin: 30px 18%  ;
   }
}

@media screen and (max-width: 800px){
    img{
        width:250px ;
        
    }

    main{
        
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    input:nth-child(3) {
        margin-left: 0px;
    }

    input:nth-child(2) {
        margin-left: 0px;
        margin-bottom: 10px;
    }
}